.parallax {
    height: 500px;
}
.logo{
    padding-top:3px;
    height: 55px;
    padding-top: 10px;
    padding-bottom: 5px;
}
.logoContainer{
    padding-top:3px;
}

.aboutMe{
    display: inline-block;
    background-color: blue;
    height: 100%;
    margin: 0 auto;
}

.aboutMe-right{
    margin: 0 auto;
    float: right;
    padding-right:50px;
    padding-bottom: 50px;
    text-align: center;
    padding-top: 50px;
    width: 50%;
    color: white;
}
.aboutMe-left{
    float: left;
    padding-right:50px;
    padding-bottom: 50px;
    text-align: center;
    padding-top: 50px;
    width: 50%;
    color: white;
    margin: 0 auto;
}
#profile-pic{
    height: 300px;
    border-radius: 150px 150px 150px 150px;
}
.profile-pic-div{
    position : relative;
    float: left;
    padding: 50px;
    left: 50px;
}
.profile-pic-div p{
    padding: 10px;
    color: white;
    font-size: 20px;
    text-align: center;
}
.links{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.link{
    display: inline;
}
.link-padding{
    padding-left: 40px;   
}
#home,#porfolio,#aboutMe,#HireMe,#contactMe{
    margin: 0 auto;
}
#pLeft{
    text-align: center;
}
#pRight{
    text-align: center;
    font-size: 20px;
    color: white;
}
.Right{
    width: 100%;
    text-align: right;
}
.Left{
    width: 100%;
    text-align: left;
}
.footer-links{
    width: 0px;
}

/**Form**/
/* label color */
.input-field label {
 color: #000;
}
/* label focus color */
.input-field input[type=text]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=text]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* label underline focus color */
.input-field input[type] {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=email]:focus + label {
 color: #000;
}
/* label underline focus color */
.input-field input[type=email]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

.input-field textarea:focus + label {
 color: #000;
}
.input-field textarea{
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
.input-field textarea:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* valid color */
.input-field input[type=text].valid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* invalid color */
.input-field input[type=text].invalid {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}
/* icon prefix focus color */
.input-field .prefix.active {
 color: #000;
}
.headingTags{
    display: inline;
}
.parallax-container{
  height: 100px;
}